DB_HOST=localhost
DB_PORT=5432
DB_USER=exchanger
DB_PASSWORD=exchanger
DB_NAME=exchanger
DB_SCHEMA=public
DB_SSL_MODE=disable
DB_CONNECTION_TIMEOUT=5

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=exchanger
REDIS_DB=0

LOGGER_LEVEL=debug
LOGGER_FORMAT=json
LOGGER_OUTPUT=stdout
